


body {
    background-color: rgb(231, 237, 243);

}

.heading{
    text-align:center;
    width:100%;
    background-color: white;
    height: 80px;
    margin-bottom:20px;
    margin-top:20px;
}

.wrapper{
 
 width:100%;
 max-width:960x;
 margin:auto;
 /*position:fixed; */
 scroll-behavior: auto;

}

.flex-container{
    display: flex; 
    flex-direction: column; 

}

.box {
    height:400px;
    width:500px;
    margin: auto;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom:20px;
    background: white;
    
}

.photo-header{

    display:inline-block;  
    
}


.box-title{
    padding-left:5px;
    padding-bottom:5px;
    background-color:white;
    float: left; 
    width:245px;  
    height:30px;
    text-align:left;
    border-top-left-radius: 10px;
    font-weight:bolder;
}

.box-date{
    padding-right:5px;
    padding-bottom:2px;
    background-color:white;
    float:right;
    width:245px; 
    height:30px;
    text-align:right;
    border-top-right-radius: 10px;
}

.image-box{
    background-color:black;
    width:500px;
    height:300px;
    display:block;   
}

img {
    width:500px;
    height:300px;
    object-fit: cover;
}

.footer{
    width:455px;
    padding-left:5px;
    text-align:left;
    display:block;
    height: 30px;
    background-color:white;  
}

p{
    font-family: "Raleway", sans-serif;
    font-weight:bolder;
 }

 h1{
    font-family: "Raleway", sans-serif;
    font-weight:bolder;
 }